

body {
    background-color: #0a0a0a;
    color: #e0e0e0;
    font-family: monospace;
    text-align: center;
    padding: 40px;
}


h1 {
    color: #9e4302;
    font-size: 36px;
    margin-bottom: 8px;
}


h3 {
    color: #b8b7b7;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 24px;
    margin-bottom: 8px;
}


input {
    background-color: #111111;
    color: #ff9940;
    border: 2px solid #9e4302;
    padding: 10px 16px;
    font-family: monospace;
    font-size: 16px;
    width: 260px;
}

 select {
    background-color: #111111;
    color: #ff9940;
    border: 1px solid #9e4302;
    padding: 10px 16px;
    font-family: monospace;
    font-size: 16px;
    width: 260px;
}


button {
    background-color: #fcfcfc;
    color: #0a0a0a;
    border-radius: 100px;
    border: none;
    padding: 10px 24px;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #aa5505;
}

div {
    background-color: #111111;
    color: #e0e0e0;
    border: 1px solid #1f1f1f;
    padding: 10px 20px;
    margin: 6px auto;
    width: 300px;
    font-size: 18px;
    min-height: 42px;
}


p {
    color: #999898;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 2px;
}